.feedback {
  background: $--white;
  border: #003580 1px solid;
  height: 54px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.feedback__company {
  padding-top: 4px;
  width: 85px;
  height: auto
}

.feedback__company img {
  max-width: 100%;
  max-height: 100%
}

.feedback__num {
  font-family: "Museo Sans Cyrl 700";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 14px;
  color: #fff;
  width: 30px;
  height: 30px;
  background: #003580;
  margin-left: 10px;
  border-radius: 6px 6px 6px 0;
}

.feedback__text {
  margin-left: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #434343
}