.news-section {
  cursor: pointer;
  &--hover-normal {
    background: $--gray;
    &:hover {
      background: $--white;
  
      .news__image > img {
        transform: scale(1.1);
      }
    }
  }
  &--hover-border {
    background: $--white;
    border-bottom: 0px solid $--white;

    &:hover {
      border-bottom-width: 5px;
      border-color: $--main;
    }
  }

  font-family: Comfortaa;
  display: flex;
  min-height: 160px;

  &__image {
    overflow: hidden;
    width: 190px;
    
    & > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 34px;

    &_title {
      font-size: 20px;
      font-weight: 700;
    }
    &_description {
      font-size: 14px;
      margin: 15px 0;
    }
    &_date {
      font-size: 12px;
      margin-top: auto
    }
  }
}

@media screen and (max-width: 992px) {
  .news-section {
    flex-direction: column;
    &__image {
      width: 100%;
      height: 50vh;
    }
  }
}